@model GestionAulasFacultad.Models.ModeloProgramaGUI

@{
    ViewBag.Title = "Delete";
}

<h2 class="d-flex justify-content-center">Eliminación de asistencia</h2>


<div class="container">

    <hr />
    <h4 class="d-flex justify-content-center">¿Estás seguro que deseas eliminar este registro?</h4>


    <dl class="dl-horizontal row ">
        <div class="col-4"></div>
        <div class="col-4">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
        </div>
        <div class="col-4"></div>
    </dl>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-3"></div>
            <div class="form-actions no-color col-6 d-flex justify-content-center">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-success" })
            </div>

            <div class="col-3"></div>
        </div>
    }
</div>
